/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*! left: -15px; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* begin page css */

body, html {
  font-family: "cheltenham";
  font-size: 100%;
  color: #333;
  overflow-x: hidden;
  height: 100%;
}

strong {
  font-weight: 700;
}

.left-btn:hover, .left-btn:active{
  background-color: #f7f7f5;
}

#left-edge {
  position: fixed;
  height: 100%;
  width: 30px;
  left: 0;
  top: 0;
  cursor: pointer;
  box-shadow: inset -4px 0 4px 0 rgba(25,25,25,0.04);
}

.masthead {
  margin-left: 30px;
  position: fixed;
  border-color: #e2e2e2;
  border-bottom: 1px solid #ccc;
  top: 0;
  left: 0;
  width: 100%;
  height: 42px;
  background-color: #fff;
  z-index: 10;
}

.left-masthead-elements {
  margin-left: -15px;
  height: 30px;
  width: 276px;
  top: 2px;
  position: relative;
}

.masthead-button {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  border-radius: 3px;
  border: 0;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  transition: background-color 0.3s;
  display: inline-block;
  padding: 7px 9px;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 800;
}

.left-btn {
  background-color: #fff;
  color: #333;
  top-margin: 4px;
}

#sections-button {
  float: left;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06),inset -1px -1px 1px 0 rgba(0,0,0,0.02);
  border-bottom-color: #cecece;
  border: 1px solid #e2e2e2;
  margin-right: 9px;
  height: 30px;
  width: 100px;
}

.masthead-icon, .footer-sprite, .st-sprite-icon {
  background-image: url("sprite-no-repeat.svg");
  width: 16px;
  height: 16px;
  margin-top: -1px;
}

#sections-icon {
  background-position: -35px -243px;
}

.icon-2-3 {
  border: 0;
  margin-top: -1px;
  background-color: #fff;
}

#home-icon {
  background-position: -137px -276px;
  margin-right: 9px;
  width: 42px;
}

#search-icon {
  background-position: -456px -210px;
  width: 56px;
}

.button-text {
  margin-left: 18px;
  margin-right: 9px;
  margin-top: 2px;
  position: relative;
  display: inline-block;
  background-color: inherit;
}

.kicker-label {
  position: absolute;
  display: block;
  left: 178px;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  letter-spacing: 0.05em;
}

.masthead-logo {
  position: absolute;
  left: 520px;
  bottom: 8px;
}

.masthead-logo img{
  height: 27px;
}

.right-masthead-elements {
  height: 30px;
  width: 300px;
  position: relative;
  float: right;
  left: 62px;
  bottom: 25px;
  display: inline-block;
}

.right-btn {
  background-color: #6288a5;
  border-color: #4d7b9f;
  color: #fff;
  font-weight: 900;
  height: 30px;
  left:3px;
}

.right-masthead-elements > form {
  display: inline-block;
  bottom: 5px;
}

.settings-icon {
  display: inline-block;
  position: absolute;
  cursor: pointer;
}

#ribbon-content {
  position: relative;
  left: 30px;
  top: 40px;
  height: 129px;
  width: 98%;

}

.ribbon {
  position: inherit;
  height: 84px;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0,0,0,0.06);
  border-bottom: 1px solid #ccc;
}

.ribbon-box {
  position: relative;
  float: left;
  height: 75px;
  width: calc(20% - 11px);
  background-color: white;
  margin: 3px 0 5px;
  padding: 5px 4px 0 3px;
  border-left: 1px solid #fff;
  border-right: 1px solid #e2e2e2;
}

.ribbon-box img {
  position: relative;
  padding-left: 6px;
  width: 65px;
  height: 65px;
  float: left;
  clear: left;
  margin: 0 10px 0 0;  
}

.ribbon-box h2 {
  font-size: 0.8145rem;
  line-height: 1rem;
  font-weight: 300;
  font-style: normal;
  font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
  color: #333;  
}

.no-kick {
  margin-top: 12px;
}

.kick-head {
  font-size: 0.5625rem;
  line-height: 0.75rem;
  font-weight: 500;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  text-transform: uppercase;
  color: #000;
}

.main-content {
  position: relative;
  width: 89%;
  left: 32px;
  /*! margin-bottom: 32px; */
  padding-bottom: 20px;
  border-top: 1px solid #000;
}

/** .edge-container {
  position:relative;
  background-color: purple;
  width: 100%;
  left: 31px;
  top:-160px;
} **/

.main-article-header {
  padding-top: 10px;
}

#main-header-kicker {
  margin-bottom: 32px;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  letter-spacing: 0.05em;
}


#main-headline {
  font-size: 2.125rem;
  line-height: 2.375rem;
  font-weight: 700;
  font-style: italic;
  font-family: "cheltenham-italic-700",georgia,"times new roman",times,serif;
  margin-bottom: 10px;
  color: #000;
}

.main-article-link {
  color: #000;
  text-decoration: none;
  margin-right: 12px
}

.main-article-link:hover {
  text-decoration: underline;
}

.by-line-meta {
  align-items: center;
  border-top: 1px solid #e2e2e2;
  padding-top: 14px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#by-line {
  font-size: 0.6875rem;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  margin-right: 12px;
  font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
}

.share-tools ul {
  display: flex;
  flex-shrink: 0;
  align-self: center;
  list-style: none;
}

.share-tools li {
  margin-right: 15px;
  font-size: 1rem;
  line-height: 1.4375rem;
  font-weight: 400;
  cursor: pointer;
}

.st-sprite-icon {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  font-style: normal;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

#st-facebook {
  background-position: -66px -54px;
}

#st-twitter {
  background-position: -129px -297px;
}

#st-email {
  background-position: -152px -21px;
}

#st-show-all {
  background-position: -346px -243px;
}

#st-save::before {
  margin-left: -15px;
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  margin-top: 4px;
  background-color: #e2e2e2;  
}

#st-save {
  background-position: -405px -210px;
  margin-left: 15px;
  width: 16px;
  height: 25px;
}

#main-pic-container {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  clear: both;  
  width: auto;
  height: auto;
}

#main-pic-container img {
  cursor: pointer;
  width: 100%
}

.main-caption {
  max-block-size: 615px;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 300;
  font-style: normal;
  font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
  color: #666;
  width: 50%;
  margin-top: 5px;
}

.item-credit {
  font-size: 0.7275rem;
  line-height: 1rem;
  font-weight: 400;
  font-style: normal;
  font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
  display: inline-block;
  color: #999;
}

.article-text-container {
  background-color: white;
  width: 48%;
  position: relative;
  left: 70px;
}

.article-text-container p {
  font-size: 1.0625rem;
  line-height: 1.625rem;
  color: #333;
  font-weight: 400;
  font-style: normal;
  font-family: georgia,"times new roman",times,serif;
  margin-bottom: 20px;
}

.comments-box {
  position: absolute;
  width: 35%;
  height: 300px;
  background-color: white;
  left: 63%;
  top: 1000px;
  overflow: hidden;
  margin: 5px 0 45px 0;
  cursor: pointer;
}

.comments-box #comments-header {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-weight: 700;
  color: #326891;
  text-transform: uppercase;
}

.comments-box #comments-header img {
 position: relative;
 top: 2px; 
 margin-right: 5px; 
}

.comments-box .commentator  {
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  display: inline-block;
  color: #000;
}

.comment header {
  margin-top: 16px;
}

.comment .comment-time {
  font-size: 0.627rem;
  line-height: 0.9375rem;
  font-weight: 300;
  font-style: normal;
  margin-left: 5px;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  color: #999;
}

.comment .comment-text {
  font-size: 0.8125rem;
  line-height: 1.05rem;
  font-weight: 300;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  margin-bottom: 0;
  color: #666;
}

#comments-footer {
  margin-top: 10px;
  border-top: 1px solid #e2e2e2;
  padding-top: 6px;
  font-size: 0.62rem;
  line-height: 1.375rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  display: block;
  margin-right: 12px;
  color: #326891;
}

.article-text-container a:link, .article-text-container a:visited {
 color: #326891; 
}

.inflation-container {
  position: relative;
  margin-top: 15px;
  margin-right: 30px;
  margin-bottom: 15px;
  margin-left: 30px;
  border-top: 1px solid #e2e2e2;
  padding-top: 15px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 15px;
  width: 80%;
  height: auto;
  overflow: hidden;
}

.inflation-container h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;
  font-family: "cheltenham-normal-700",georgia,"times new roman",times,serif;
  margin-bottom: 3px;
  color: #333;
  position: relative;
}

.inflation-container img {
  display: block;
}

.inflation-container p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
  margin-bottom: 10px;
  color: #666;
}

#inflation-graphic {
  max-width: 100%;
}

.inflation-box {
  position: absolute;
  width: 228px;
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}

.inflation-span {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: .05em;
}

#inflation-box-1 {
  top: 35.8264%;
  left: 0.0436%;
}

#inflation-box-2 {
  top: 35.8264%;
  left: 25.5619%;
}

#inflation-box-3 {
  top: 35.8264%;
  left: 51.0800%;
  
}

#inflation-box-4 {
  top: 35.8264%;
  left: 76.0982%;
  width: auto;
}

#inflation-box-5 {
  top: 74.4375%;
  left: 0.0436%;
}

#inflation-box-6 {
  top: 74.4375%;
  left: 25.5619%;
}

#inflation-box-7 {
  top: 74.4375%;
  left: 51.0800%;
}

#inflation-box-8 {
  top: 74.4375%;
  left: 76.5982%;
  width: auto;
}

#graphic-credit {
  background-color: #fff;
  font-size: 0.65rem;
  line-height: 0.875rem;
  font-weight: 300;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  color: #999;
}

.text-part2 p:last-of-type{ 
  margin-bottom: 40px;
}

#champagne-youtube-vid iframe {
  width: 54%
}

#champagne-youtube-vid {
  margin-bottom: 30px;
}

#champagne-vid-caption {
  margin-top: 5px;
 font-size: 0.8125rem;
  line-height: 1.0625rem;
  font-weight: 300;
  font-style: normal;
  font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;   
}

#newsletter-signup {
  border-top: 1px solid #e2e2e2;
  padding-top: 15px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 15px;
  margin-right: 15px;
  width: 300px;
  height: 300px;
  float: left;
  clear: left;
}

#newsletter-signup {
  font-size: 1.25rem;
  line-height: 1.375rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  padding-bottom: 2px;
  color: #000;
}

#nl-signup-summary {
  font-size: 0.810rem;
  line-height: 1.125rem;
  font-weight: 300;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  margin-bottom: 14px;
  color: #999;
}

#newsletter-form {
  width: 300px;
  height: auto;
}

#email-form-container {
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  border-radius: 4px;
  height: 30px;
  margin-bottom: 12px;
  padding: 4px 4px 4px 8px;
  border: 1px solid #e2e2e2;  
}

#email-form-container #email-input {
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  padding: 0;
  box-shadow: none;
  border: none;
  height: 30px;
  border-radius: 3px;
}

#newsletter-submit-btn {
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  border-radius: 4px;
  float: right;
  margin: 4px 5px 0 0;
  padding: 4px 7px;
  background: #f3f3f3;
  border: 1px solid #ccc;
  text-transform: none; 
  transition: background-color 0.3s;
  color: #333;
  cursor: pointer;
}

#sp-offers-container {
  margin-top: 20px;
  position: relative;
  left: -4px;
}

#sp-offers-label {
  font-size: 0.6475rem;
  font-weight: 500;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  color: #666;
  line-height: 0.9rem;
  vertical-align: middle; 
}


#sp-offers-check {
  float: left;
  margin-top: 4px;
}

#newsletter-signup img {
  margin: 15px 0 20px 0;
}

#signup-footer {
  border-top: 1px solid #e2e2e2;
  padding-top: 6px;
  font-size: 0.625rem;
  line-height: 0.9375rem;
  font-weight: 400;
  font-style: normal;
  font-family: georgia,"times new roman",times,serif;
}

#signup-footer li {
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  font-size: 0.5125rem;
  line-height: 0.6875rem;
  font-weight: 400;
  font-style: normal;
  border-left: 1px solid #999;
  padding-left: 6px;
  display: inline;
  width: auto;
  padding: 0 5px;
  text-transform: uppercase;
  color: #333;
}

#signup-footer li:first-child {
  border-left: 0;
  padding-left: 0;
}

#signup-footer li a {
  color: #666;
  text-decoration: none;
}

#bicep2-pic {
  margin-top: 60px;
  margin-bottom: 70px;
}

#bicep2-pic img {
  max-width: 55%;
  cursor: pointer;  
}

#bicep-caption {
  width: 55%
}

#article-footer::before {
  width: 60px;
  content: '';
  display: inline-block;
  height: 1px;
  margin: 0 0 13px 0;
  background-color: #000;
}

#footer-citation {
  font-size: 0.6875rem;
  line-height: 0.9375rem;
  font-weight: 300;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  color: #999;
}

#footer-citation a {
  color: #999;
  text-decoration: none;
}

.text-part3 {
  margin-bottom: 40px;
}

#bottom-stories {
  display: flex;
  justify-content: space-between;
}

.more-articles {
  width: 60%;
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

#trending-stories {
  width: 35%;
  border-top: 1px solid #ccc;
  padding-top: 10px;  
}

.more-stories-header {
  padding: 0 0 13px 0;
  margin: 20px 0;
}

.more-stories-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.more-articles-left {
  font-size: 1.0625rem;
  line-height: 1.0625rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  color: #000;
  text-decoration: none;
  float: left;
}

.more-articles-right {
  float: right;
  font-size: 0.6875rem;
  line-height: 0.6875rem;
  font-weight: 400;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  text-decoration: none;
  color: #6288a5;
}

.more-articles-left:hover, .more-articles-right:hover {
  text-decoration: underline;
}

.more-stories-box {
  width: 210px;
  margin-bottom: 20px;
}

.more-story-title {
  font-size: 1.05rem;
  line-height: 1.125rem;
  font-weight: 500;
  font-style: normal;
  font-family: "cheltenham-normal-500",georgia,"times new roman",times,serif;
  color: #000;
  text-decoration: none;
}

.more-story-title:hover {
  color: #333;
  text-decoration: underline;
}

.more-space-kicker {
  font-size: 0.6875rem;
 line-height: 0.6875rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  margin-bottom: 6px;
  color: #000
}

#trending-stories header h2 {
  font-size: 0.6875rem;
  line-height: 0.6875rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 1em;
}

#trending-stories ol {
  counter-reset: li;
}

#trending-stories ol li:before {
  margin-right: 10px;
  counter-increment: li;
  content: counter(li) ".";
  width: 5%;
  text-align: right;
}

#trending-stories ol li {
  font-size: 1.1875rem;
  line-height: 1.1875rem;
  font-weight: 400;
  font-style: normal;
  font-family: "nyt-cheltenham-extra-cn-bd",georgia,"times new roman",times,serif;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  border-bottom: 1px solid #F3F3F3;
  color: #000;
}

#trending-stories ol li a {
  font-size: 0.9525rem;
  line-height: 1rem;
  font-weight: 400;
  font-style: normal;
  font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
  width: 100%;
  text-align: left;
  color: #326891;
  text-decoration: none;
}

#trending-stories ol li a:hover, #trending-stories footer a:hover, 
.footer-col:last-child div li a:hover, .cr-foot-link a:hover, .ribbon-box h2:hover, 
.index-links li a:hover{
  text-decoration: underline;
}

.trending-thumb img {
  width: 40px;
  height: 40px;
}

#trending-stories footer a {
  text-decoration: none;
  color: #326891;
  font-size: 0.6875rem;
  line-height: 0.875rem;
  font-weight: 400;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;  
}

#site-index {
  margin-top: 150px;
  margin-left: 55px;
}

#site-index:before {
  box-sizing: content-box;
  content: '';
  display: block;
  border-top: 2px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  height: 1px;
  margin: 15px 0;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 9px;
}

#index-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-col {
  width: calc(16% + 5px);
  height: 400px;

}

.footer-col h3 {
  margin-bottom: 14px;
  font-size: 0.8125rem;
  line-height: 0.6875rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.footer-col:last-child {
  border-left: 1px solid #ccc;
  padding-left: 5px;
}

.index-links li {
  margin-bottom: 8px;
}

.index-links li a {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  color: #000;
  text-decoration: none;
}

.f-sprite {
  float: left;
  margin-right: 10px;
}

#home-del-icon {
  background-position: -253px -54px;
}

.featured-foot-link{
  font-size: 0.87rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  text-decoration: none;
  color: #000;
}

.foot-link-group {
  margin-bottom: 10px;
}

#digital-sub-icon {
  background-position: -119px -276px;
}

#crossword-sub-icon {
  background-position: -376px 0;
}

.footer-col:last-child div li a {
  font-size: 0.6875rem;
  line-height: 11px;
  font-weight: 500;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
}

#foot-right-middle li, #foot-right-bottom li {
  margin-bottom: 0;
}

#foot-right-middle {
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

#copyright-footer {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-left: 55px;
  padding-top: 10px;
}

#copyright-footer, #left-cr-foot, #right-cr-foot {
  display: flex;
  justify-content: space-between;
}

.cr-foot-link {
  padding: 0 5px;
  border-left: 1px solid #e2e2e2;
}

.cr-foot-link a {
  font-size: 0.6475rem;
  line-height: 10px;
  font-weight: 400;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  color: #999;
  text-decoration: none;
}

.cr-foot-link:first-child {
  border-left: none;
}
